<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsTOJTTnp_9JXNntPYhyZegp_TA1ho5l8</string>
	<key>GCM_SENDER_ID</key>
	<string>433122231400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetofirebase3</string>
	<key>PROJECT_ID</key>
	<string>projeto-firebase-3-f491a</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-firebase-3-f491a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433122231400:ios:79de5797a332124dbfe7dd</string>
	<key>DATABASE_URL</key>
	<string>https://projeto-firebase-3-f491a-default-rtdb.firebaseio.com</string>
</dict>
</plist>